version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: check_engine_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: check_engine_db
      MYSQL_USER: checkengine
      MYSQL_PASSWORD: checkengine123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
